<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <vendic_checkout_newsletter_subscribe>
            <general>
                <checked_by_default>1</checked_by_default>
            </general>
        </vendic_checkout_newsletter_subscribe>
    </default>
</config>
